header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
  margin: 0; /* JPG only as a top strip + solid blue for the rest */
  background: url("ptrbackground.jpg");
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #00569f; /*Background has full solid color after gradient*/
}

#wrapper {
	width: 80%; /*Takes up 80% of the page*/
	min-width: 600px; /*But makes sure there is a 600px min*/
	margin: 0 auto;
	background: #FFFFFF;
	padding: 16px 18px 24px; 
	max-width: 1200px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.06); /*Added a bit of shadow*/
}

nav {
	width: 220px;
	float: left;
	margin-right: 18px; 
}

nav ul {
	font-size: 1.2em;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
}


